---
import type { ComponentProps, InsightContent } from '@lib/types';
import {
  storyblokEditable,
  renderRichText,
  type ISbRichtext,
} from '@storyblok/astro';

import Divider from '@components/storyblok/divider.astro';
import GlobalCta from './global-cta.astro';
import InsightCard from '@components/insights/insight-card.svelte';
import AuthorDetails from '@components/insights/author-details.astro';

const { blok, publishedDate } = Astro.props as ComponentProps;
const { slug } = Astro.params;

const content = blok as InsightContent;

// title
// tagline
// featured_image (image)
// content (rich text)
// quote: any; (rich text)
// categories
// related_insights (relations)
// author_byline
// author_image
// body (blocks)
// meta_fields
---

<header class="pb-16 max-sm:my-28" {...storyblokEditable(blok)}>
  <div class="ws-container">
    <h1
      class="text-center text-5.5xl leading-tight sm:leading-13 font-sans font-semibold"
    >
      {content.title}
    </h1>
    <p
      class="text-center tagline font-medium leading-13 text-5.25xl font-bitter text-brand-secondary-900 dark:text-brand-primary-900"
    >
      {content.tagline}
    </p>
  </div>
</header>

<!-- Project information -->
<section class="ws-container">
  <div class="lg:px-10 mb-24">
    <figure class="bg-brand-secondary-100 mt-16 pt-32 px-10 pb-16">
      <img
        src={content.featured_image?.filename}
        alt={content.featured_image?.alt}
        class="object-fit block mx-auto w-full"
      />
    </figure>
  </div>

  <div
    class="grid grid-cols-1 gap-12 md:gap-8 md:gap-y-28 md:grid-cols-12 max-sm:px-4 lg:px-10"
  >
    <div class="md:col-span-4">
      <AuthorDetails
        image={content.author_image?.filename ?? ''}
        imageAlt={content.author_image?.alt ?? ''}
        byline={content.author_byline}
        date={publishedDate}
      />
    </div>
    <div class="md:col-span-7 md:col-start-6">
      {
        content && (
          <div
            class="insight-content prose font-bitter max-w-none dark:text-white"
            set:html={renderRichText(content.content as ISbRichtext)}
          />
        )
      }
    </div>
  </div>
</section>

<Divider />

<div class="mb-10 md:mb-32"></div>
<div class="ws-container mb-52">
  <div class="md:px-10">
    {
      content && (
        <div
          class="insight-cta prose prose-lg max-w-none text-center dark:text-white"
          set:html={renderRichText(content.quote as ISbRichtext)}
        />
      )
    }
  </div>
</div>

<div class="md:ws-container -mb-48">
  <GlobalCta />
</div>

<!-- Related projects -->
<div class="pt-10" id="projects-display-start">
  <section class="ws-container">
    <div
      class="grid grid-cols-1 gap-5 gap-y-10 py-16 sm:grid-cols-2 sm:gap-7 sm:gap-y-12 sm:mt-24"
    >
      {
        content.related_insights?.map((insight) => (
          <InsightCard
            insight={insight.content}
            href={`/insights/${insight.slug}`}
            title={insight.name ?? ''}
            version="two"
            client:load
          />
        ))
      }
    </div>
  </section>
</div>
